#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table{
  border: #888 solid;
  border-radius: 10px;
  padding: 20px;
}

.table input{
  width: 400px;
  height: 30px;
}
.table button{
  margin-left: 20px;
}