.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
}
